# ========================
# Frontend
# ========================
# dependencies
/time-tracker-frontend/node_modules
/time-tracker-frontend/.pnp
/time-tracker-frontend/.pnp.js
# production
/time-tracker-frontend/build
# testing
/time-tracker-frontend/coverage
# misc
/time-tracker-frontend/.env.local
/time-tracker-frontend/.env.development.local
/time-tracker-frontend/.env.test.local
/time-tracker-frontend/.env.production.local

/time-tracker-frontend/npm-debug.log*
/time-tracker-frontend/yarn-debug.log*
/time-tracker-frontend/yarn-error.log*

# ========================
# Backend
# ========================
/time_tracker_backend/target/
/time_tracker_backend/data
/time_tracker_backend/**/*.db
/time_tracker_backend/.env

# ========================
# System files
# ========================
.DS_Store
desktop.ini