name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # deploy when main branch is pushed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
        working-directory: ./time-tracker-frontend

      - name: Build the app
        run: npm run build
        working-directory: ./time-tracker-frontend
        env:
          REACT_APP_BACKEND_URL: https://time-tracker-onge.onrender.com

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./time-tracker-frontend/build